// Reference: https://store.storeimages.cdn-apple.com/4974/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ma/imac/215/imac-215-selection-hero-201706?wid=452&hei=420&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=1505777819647
.computer-container
	.computer-monitor
	.computer-bottom
	.computer-stand
	.computer-stand-bottom